body {
  font-family: 'Open Sans', sans-serif;
}

.image-container {
  height: fit-content;
}

.swatches {
  width: 100px;
  height: 100px;
  margin: 10px;
}

img {
  height: relative;
  width: 350px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  padding: 15px;
  margin-top: 40px;
  width: fit-content;
  font-size: 16px;
  border: 0.5px solid #2f2f2f;
  border-radius: 30px;
}

.search-input:focus {
  outline: none;
}

.button {
  padding: 10px;
  font-size: 12px;
  border: 0.5px solid black;
  border-radius: 30px;
  cursor: pointer;
  background: black;
  color: white;
}

.button:focus {
  outline: none;
}

.heading {
  font-size: 60px;
}

.link {
  font-size: 20px;
  text-decoration: none;
  color: #2f2f2f;
  border-bottom: 2px solid #2f2f2f;
}

.display-swatches {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

@media only screen and (max-width: 480px) {
  body {
    padding: 10px;
  }

  .swatches {
    width: 50px;
    height: 50px;
  }

  img {
    width: 300px;
    height: relative;
  }

  .search-input {
    width: 250px;
    padding: 10px;
    font-size: 12px;
  }

  .heading {
    font-size: 30px;
  }

  .link {
    font-size: 14px;
  }

  .display-swatches {
    display: grid;
    min-width: max-content;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
  }

  .error-message {
    font-size: 12px;
  }

  .hex-codes {
    font-size: 12px;
  }

  footer {
    font-size: 14px;
  }
}

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  background: #f3f3f3;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}